<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Display Category data</title>
  </head>
  <body>
    <h1>Display</h1>
    <a href="/category/add">Add Record</a>
    <% if(row.length > 0){ %>
    <br />
    Number of records: <%= row.length %>
    <table border="1">
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Action</th>
      </tr>
      <% for(var i=0; i < row.length ; i++){ %>
      <tr>
        <td><%= row[i].category_id %></td>
        <td><%= row[i].category_name %></td>
        <td>
          <a href="/category/edit/<%= row[i].category_id %>">Edit</a>
          |
          <a href="/category/delete/<%= row[i].category_id %>">Delete</a>
        </td>
      </tr>
      <%}%>
    </table>
    <%}else{%>
    <p>No Data Found</p>
    <% } %>
  </body>
</html>
